@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
html,
body {
    height: 100%;
    margin: 0;
    padding: 5px;
    background-color: white;
}


/* -------------------------------------- */

#container-rose {
    display: flex;
    /*flex-direction: column;*/
    flex-flow: column;
    height: 100%;
    margin: 5px;
    padding: 0px;
    background-color: #eaf2ff;
    border-radius: 10px;
}

#container-rouge {
    flex: 0 1 auto;
    /*   flex-direction: column;*/
    padding: 5px;
    background-color: #eaf2ff;
    border-radius: 10px;
}

#container-noir {
    flex: 1 1 auto;
    display: flex;
    padding: 5px;
    background-color: #eaf2ff;
    border-radius: 10px;
}


/*
.row.footer {
    flex: 0 1 40px;
}
*/

#container-vert {
    flex: 1;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

#container-bleu-fonce {
    flex: 4;
    background-color: #eaf2ff;
    padding: 5px;
}

#container-turquoise-1 {
    display: flex;
    background-color: #eaf2ff;
    margin-bottom: 5px;
    height: 50%;
}

#container-turquoise-2 {
    display: flex;
    background-color: #eaf2ff;
    height: 50%;
}

#container-maps {
    flex: 8;
    min-width: 200px;
}

#container-variations {
    display: bloc;
    flex: 4;
    margin: auto;
}

#container-graphs {
    display: flex;
    flex-direction: column;
    flex: 6;
    background-color: azure;
    margin: auto;
}

#sub-container-c02-emission {
    display: flex;
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: black;
    padding: 5px;
    margin-bottom: 5px;
}

#sub-container-pollution-ration {
    display: flex;
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: black;
    padding: 5px;
    margin-top: 5px;
}

#sub-container-graph-urban-noise {
    display: flex;
    margin: auto;
    height: 100px;
    width: 250px;
    background-color: bisque;
}

#sub-container-graph-performance-predictions {
    display: flex;
    margin: auto;
    height: 100px;
    width: 250px;
    background-color: blueviolet;
}

#container-average-co2 {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

#container-fuel-consumption {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#container-average-urban-noise {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin-left: 5px;
}

#varco2 {
    background-color: aquamarine;
    margin: auto;
}

#varpollution {
    background-color: aquamarine;
    margin: auto;
}

#vargraphnoise {
    background-color: aquamarine;
    margin: auto;
}

#vargraphperf {
    background-color: aquamarine;
    margin: auto;
}